In [1]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

In [7]:

whale_returns=Path("./Resources/whale_returns.csv")
pd.read_csv(whale_returns)

algo_returns=Path("./Resources/algo_returns.csv")
pd.read_csv(algo_returns)

sp500_history=Path("./Resources/sp500_history.csv")
pd.read_csv(sp500_history)

#algo_returns.csv: Contains returns from the in-house trading algorithms from Harold's company.

#sp500_history.csv: Contains historical closing prices of the S&P 500 Index.

           Date     Close
0     23-Apr-19  $2933.68
1     22-Apr-19  $2907.97
2     18-Apr-19  $2905.03
3     17-Apr-19  $2900.45
4     16-Apr-19  $2907.06
...         ...       ...
1644   5-Oct-12  $1460.93
1645   4-Oct-12  $1461.40
1646   3-Oct-12  $1450.99
1647   2-Oct-12  $1445.75
1648   1-Oct-12  $1444.49

[1649 rows x 2 columns]